# ignore all .log files
*.log
.DS_Store


# ignore data directory
data/phantom*
data/new
data/old
data/old_parqueted_files
data/weather/*.csv
data/weather/*.parquet
data/openbus
data/data_for_tree_based_model

#ignore pickle 
*.pickle
data/phantom2.csv
modeling/ML_table_with_availability_clusters.csv
#ignore my secrets
keys.py

#igonre other peoples eda
eda/hugh

